* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-shadow: #2b69e70d 0 1px 8px;
  height: 80px;
  width: 100%;
  /* padding: 1.4rem 1.2rem; */
  display: flex;
  align-items: center;
}

.App-header nav {
  font-size: 48px;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
main {
  width: 100%;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  max-width: 1280px;
  margin: 15px auto;
}
.track-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.track-buttons button {
  min-width: 125px;
  padding: 10px;
  border: transparent;
  border-radius: 15px;
}
.track-buttons button:hover {
  transform: scale(1.05);
}
.track-buttons button:focus {
  background-color: #2ecc71;
  color: #fff;
}

.table-header {
  display: flex;
}
.table-header p {
  flex: 1;
  padding: 10px;
  text-align: center;
}
.table-row {
  border: 1px solid rgb(204, 204, 204);
  margin-bottom: 20px;
  display: flex;
}
.table-row p {
  font-size: 14px;
  flex: 1;
  padding: 10px;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
